/*common.css 우리가 변경한 것들 */

/*공통으로 들어가는것 */
table td:first-child{text-align: center;}
input[type='text']{vertical-align:middle;}
form,h2{ margin: 10px; padding: 10px;}
.marginPadding10{margin: 10px; padding: 10px;}
.floatLeft{float:left}
.floatRight{float:right}
.overflowH{overflow:hidden}
.textCenter{text-align:center!important;}
.textLeft{text-align:left!important;}
.textRight{text-align:right!important;}
.textAlignLeft{text-align: left;}
.fontB{font-weight:bold!important;}
.nonLeftBorder{border-left: 0px!important;}
.nonRightBorder{border-right: 0px!important;}
.nonTopBorder{border-top: 0px!important;}
.nonBottomBorder{border-Bottom: 0px!important;}
.nonBorder{border: 0px!important;}
.nonPadding{padding: 0px!important;}
.nonMargin{margin: 0px!important;}
.nonPAndM{padding: 0px!important; margin: 0px!important;}
.spanFlowRootP10{display:flow-root;padding-top: 10px;}
.textAlignCenter {text-align: center;}

/* 빨간색 */
.errMessage, .redFont {font-size: 9pt; color: red; font-weight: bold; }

/* 라운드 */
.rounded {
  border:2px solid #f5f5f5;
  padding:0.5em;
  line-height: 1em;
  border-radius:0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

/*form 달력용 (60)*/
.form-date-control60{
   	width: 60%;
    height: 34px;
    padding: 6px 12px;
    margin-right: 5%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

/*form 크기변경 (50)*/
.form-control50{
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*form 크기변경 (45)*/
.form-control45{
    width: 45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*form 크기변경(40)*/
.form-control40{
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*form 크기변경(20)*/
.form-control20{
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* 캠핑/관광지 상세검색 css */
.panel-default1 {
  border-color: #ffffff;
}
.panel-title1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: inherit;
}

.panel-title1 > a,
.panel-title1 > small,
.panel-title1 > .small,
.panel-title1 > small > a,
.panel-title1 > .small > a {
  color: inherit;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;
}

.keywordTag {
  color: inherit;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
}
